@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background-color: #ddd;
}
:root{
    --color-primario: rgb(247, 184, 9);
    

}

header{
    background-color:  #4D41C0;
    color: #ffff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: var(--color-primario);
}
nav a:hover{
    text-decoration: none;
    color: unset;
}